.home-find {
  display: none;

}
.home-feed{
  width: 100%;
}


@media only screen and (max-width: 480px) {
  
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  
}

@media only screen and (min-width: 1025px) {
  .home {
    display: flex;
    justify-content: center;
  }

  .home-inner-container {
    width:1024px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .home-find {
    display: block;
    width: 35%;
    border: .1px solid black
  }
  .home-feed{
    width: 63%;
    
  }
  .addpost{
    border: .1px solid black;
    padding: 10px 14px;  
  }
  .addpost-show{
    display: flex;
    justify-content: space-between;
  }
  .crop-container{
    position: absolute;
    border: 1px solid black;
    width: 600px;
    height: 360px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    background: black;
  }
  .crop-actions{
    position: relative;
    margin-top: 370px;
    background-color: white;
  }
  .post-image img{
    width: 120px;
    height: 80px;
    margin-top: 10px;
  }
  .addpost-preview{
    display: flex;
    justify-content: space-between;
  }
  .addpost-actions{
    position: relative;
  }
 
}
