.home-find {
  display: none;
}
.home-feed {
  width: 100%;
  margin-top: 70px;
}
.post-header {
  margin-bottom: 0px;
}
.post-image {
  aspect-ratio: 16/9;
  padding: 5px;
}
.post-card {
  border-bottom: 0.01px solid black;
}
.addpost-mobile {
  padding: 10px;
}
.addpost-mobile-show-inner {
  display: flex;
  justify-content: space-between;
}
.addpost-mobile-preview {
  width: 100%;
}
.addpost-mobile-actions{
  display: flex;
  justify-content: center;
}
.post-mobile-image img {
  margin-top: 20px;
  width: 100%;
  aspect-ratio: 16/9;
}
.crop-container {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 360px;

  margin-top: 10px;
  background: black;
  
}
.crop-actions {
  position: relative;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .post-image {
    padding: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .home {
    display: flex;
    justify-content: center;
  }

  .home-inner-container {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .home-find {
    display: block;
    width: 35%;
    border: 0.1px solid black;
  }
  .home-feed {
    width: 60%;
    margin-top: 0px;
  }
  .addpost {
    border: 0.1px solid black;
    padding: 10px 14px;
  }
  .addpost-show {
    display: flex;
    justify-content: space-between;
  }

  .post-image img {
    width: 124px;
    height: 70px;
    margin-top: 10px;
  }
  .addpost-preview {
    display: flex;
    justify-content: space-between;
  }
  .addpost-actions {
    position: relative;
  }
  .feed {
    padding-top: 20px;
  }
  .post-image {
    padding: 15px;
  }

  .post-card {
    border: none;
    margin-bottom: 20px;
  }
  .home-header-sm-md {
    display: none;
  }
}
