
.loginSignup-box{
    width:400px;
 }
.loginSignup-heading{
    font-style: normal;
    margin-left: 5px;
    font-weight: 900;
}

@media only screen and (max-width: 480px) {
    .loginSignup-box{
       width:100%;
    }
    
}

@media only screen and (min-width: 481px)and (max-width: 1024px)  {

    .loginSignup-box{
        width:340px
     }
 
}

